.edit-box {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    &.post-form {
        object-fit: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: red;
    }
    &input {
        background-color: unset;
    }

    .uploader {
        cursor: pointer;
        border-radius: 7px;
        text-align: center;
        line-height: 35px;
    }

    .uploader-label {
        display: block;
    }
}
