// Colors
$primary-white: #ffffff;
$primary-text-clr: #00303f;
$primary-bgc: #fafafa;
$primary-dark-clr: #222831;
$primary-light-clr: #f05454;
$primary-border: rgba(var(--b6a, 219, 219, 219), 1);


// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;